/***** BASE STYLES *****/
body{
  font-family: 'Mukta', sans-serif;
  margin: 0px;
}
/**** FONTS
font-family: 'Mukta', sans-serif;
 ****

/***** GRID *****/
.grid{
  height: 100vh;
  width: 100%;
  min-width: 1200px;
  display: grid;
  grid-template-areas:  "sidenav banner banner"
                        "sidenav main aside"
                        "sidenav main aside";
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 1fr 4fr 4fr;
}

.cell{
  color:#fff;
}

/**** SIDENAV ****/
nav{
  min-height: 102.5%;
  font-size: 1.2rem;
  min-width: 200px;
}

.sidenav{
  background: #000000;
  grid-area: sidenav;
  margin: auto;
}

nav img{
  padding: 50px 0;
  display: block;
}

#logo{
  width: 100%;
  height: auto;
}

.sidenav a{
  text-decoration: none;
  color: #ffffff;
  padding-left:30px;
}

.sidenav ul {
  list-style: none;
  text-transform: capitalize;
  line-height: 25px;
}

.sidenav ul li a:hover,
.sidenav a span:hover{
  color:#ffcc00;
}

/**** BANNER ****/
.banner{
  background: teal;
  grid-area: banner;
}

/*** MAIN CONTENT ***/
.main{
  background: blue;
  grid-area: main;
  display: grid;
  grid-row-gap: 20px;
  height:100%;
  padding:10px;
}
.main .cell{
  background: coral;
}

/***ASIDE CONTENT ***/
.aside{
  background:purple;
  grid-area:aside;
  display: grid;
  grid-row-gap:10px;
  height:100%;
  padding:10px;
}
.aside .cell{
  background: red;
}
